@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    font-family: kanit, sans-serif;
    background-image: url(../images/music-background.webp);
    background-repeat: repeat;
    background-size: 110%;
}

.planner-area {
    background-color: rgb(238, 238, 238, 0.5);
    border-radius: 5px;
    padding-bottom: 5px;
}

.start-area {
    margin: auto;
    margin-top: 200px;
    height: 50vh;
    width: 60vw;
    padding: 5px;
}

.welcome {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    color: rgb(238, 238, 238);
    width: 58vw;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

h1 {
    font-size: 300%;
}

#icon {
    font-size: 80%;
    color: darkturquoise;
}

h2 {
    font-size: 250%;
}

h2:hover {
    color: darkturquoise;
}

p {
    font-size: 150%;
}

#listContainer {
    margin: auto;
    text-align: left;
    width: 80vw;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    color: rgb(238, 238, 238);
    padding: 5px;
    border-radius: 5px;
}

ol {
    font-size: 110%;
}

span {
    color: darkturquoise;
}

.list-area {
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 50%;
}

input,
button {
    width: 25vw;
    height: 25px;
}

#box {
    margin: 10px 0;
}

.new-item {
    margin: auto;
    width: 35vw;
    text-align: left;
    border-bottom: 2px solid darkturquoise;
    padding: 5px;
    font-size: 120%;
}

.remove-btn {
    float: right;
    width: 25px;
    border: none;
    background: none;
    color: rgb(238, 238, 238);
}

.remove-btn:hover {
    color: red;
}

.select-time-box {
    float: right;
    width: 70px;
    height: 25px;
    background: none;
    background-color: rgb(238, 238, 238, 0.5);
    border: none;
}

.hidden {
    display: none;
}

/* Media Queries */

/* Screen size 1024px wide */

@media screen and (max-width: 1024px) {

    p {
        font-size: 150%;
    }

    .welcome {
        width: 95%;
    }

    .start-area {
        margin-top: 180px;
        width: 90%;
        height: 200px;
    }

    body {
        background-size: 100%;
    }

    ol {
        font-size: 120%;
    }

    #listContainer {
        width: 80vw;
    }

    input,
    button {
        width: 50%;
        height: 30px;
    }

    #box,
    #addItemBtn {
        font-size: 110%;
    }

    button {
        margin-bottom: 5px;
    }

    .list-area {
        width: 100%;
    }

    .new-item {
        width: 70%;
        font-size: 160%;
        padding: 10px;
    }

    .remove-btn {
        width: 30px;
        margin-left: 10px;
        font-size: 80%;
    }

    .select-time-box {
        width: 80px;
        height: 40px;
        font-size: 70%;
    }
}

/* Screen size 912px wide. */

@media screen and (max-width: 912px) {

    .start-area {
        margin-top: 550px;
    }

    body {
        background-size: cover;
        background-image: url(/assets/images/music-background-rotated.webp);
        background-size: 100%;
    }

    ol {
        font-size: 150%;
    }

    #listContainer {
        width: 90vw;
    }

    input,
    button {
        width: 80%;
        height: 40px;
    }

    #box,
    #addItemBtn {
        font-size: 130%;
    }

    .new-item {
        width: 80%;
        font-size: 180%;
    }

    .remove-btn {
        width: 20px;
        font-size: 100%;
    }

    .select-time-box {
        width: 100px;
        height: 40px;
        font-size: 100%;
    }
}

/* Screen size 820px wide. */

@media screen and (max-width: 820px) {

    h1 {
        font-size: 280%;
    }

    p {
        font-size: 130%;
    }

    .start-area {
        margin-top: 450px;
        width: 90%;
        height: 200px;
    }

    body {
        background-size: cover;
        background-image: url(/assets/images/music-background-rotated.webp);
        background-size: 100%;
    }

    ol {
        font-size: 130%;
    }

    .new-item {
        font-size: 160%;
    }

    .select-time-box {
        height: 30px;
    }
}

/* Screen size 768px wide. */

@media screen and (max-width: 768px) {

    .start-area {
        margin-top: 400px;
    }
}

/* Screen size 540px wide. */

@media screen and (max-width: 540px) {

    h1 {
        font-size: 250%;
    }

    h2 {
        font-size: 200%;
    }

    .start-area {
        margin-top: 240px;
    }

    ol {
        font-size: 90%;
    }

    input,
    button {
        height: 25px;
        width: 60%;
    }

    #box,
    #addItemBtn {
        font-size: 80%;
    }

    .new-item {
        font-size: 120%;
    }

    .remove-btn {
        font-size: 80%;
    }

    .select-time-box {
        width: 65px;
        font-size: 75%;
    }
}

/* Screen size 414px wide. */

@media screen and (max-width: 414px) {

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 170%;
    }

    p {
        font-size: 100%;
    }

    .start-area {
        margin-top: 330px;
        width: 90%;
        height: 200px;
    }

    body {
        background-size: cover;
        background-image: url(/assets/images/music-background-rotated.webp);
        background-size: 65vh;
    }

    #listContainer {
        width: 90vw;
    }

    input,
    button {
        width: 80%;
        height: 22px;
    }


    #box,
    #addItemBtn {
        font-size: 90%;
    }

    .new-item {
        width: 90%;
    }

    .remove-btn {
        width: 20px;
        margin-left: 5px;
    }

    .select-time-box {
        width: 70px;
        height: 20px;
    }


}

/* Screen size of 375px wide. */

@media screen and (max-width: 375px) {

    h1 {
        width: 100%;
        font-size: 200%;
    }

    p {
        font-size: 100%;
    }

    .welcome {
        text-align: center;
        width: 100%;
    }

    .start-area {
        margin-top: 230px;
        width: 90%;
    }

    body {
        background-size: 70vh;
        background-image: url(/assets/images/music-background-rotated.webp);
        padding-right: 20px;
    }

    ol {
        font-size: 85%;
    }

    input,
    button {
        width: 70%;
        height: 20px;
    }

    #box,
    #addItemBtn {
        font-size: 80%;
    }

    .list-area {
        width: 90%;
    }

    .new-item {
        width: 70%;
        font-size: 100%;
        padding: 5px;
    }

    .remove-btn {
        width: 10px;
        margin-left: 10px;
        font-size: 90%;
    }

    .select-time-box {
        width: 65px;
        height: 20px;
        font-size: 90%;
    }
}

/* Screen size 360px wide */

@media screen and (max-width: 360px) {
    body {
        background-size: 130%;
    }
}