body {
    font-family: pt sans;
    background-color: skyblue;
}

h1 {
    text-align: center;
    font-size: 250%;
}

p {
    text-align: center;
}

.list-area {
    text-align: center;
    margin: auto;
    width: 50%;
}

input,
button {
    width: 25vw;
    height: 25px;
}

#box {
    margin: 10px 0;
}

.new-item {
    width: 25vw;
    text-align: left;
}
